.login-panel {
  margin-bottom: 20px;
  background-color: #f0f8ff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-heading {
  color: #f0f8ff;
  background-color: #333533;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.login-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16;
  color: inherit;
}
.social-buttons {
  margin: 12px 0;
}
.social-buttons a {
  width: 46%;
}
.login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}
.btn-fb:hover {
  background-color: #496ebc;
}
.btn-tw {
  color: #fff;
  background-color: #55acee;
  margin: 0 15px;
}
.btn-tw:hover {
  background-color: #59b5fa;
}
.btn-login {
  background-color: #f6c90e;
  color: #333533;
}
.btn-login:hover {
  background-color: #e4c23d;
}
.div-clave {
  float: right;
  font-size: 80%;
  position: relative;
  top: -15px;
}
.linea {
  border-top: 1px solid#888;
  padding-top: 15px;
  font-size: 85%;
}
